:root {
  --bg: #153434;
  --text: hsla(0, 0%, 100%, 0.85);
  --accent: rgb(255, 215, 128);
  --element: #30d8a0;
}

body {
  background: var(--bg);
  color: var(--text);
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  opacity: 0.02;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.5' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

body[data-element="cryo"] {
  --bg: #235d74;
  --element: #7af0f0;
}

body[data-element="dendro"] {
  --bg: #263d21;
  --element: #9de43b;
}

body[data-element="electro"] {
  --bg: #352a63;
  --element: #c87fff;
}

body[data-element="geo"] {
  --bg: #3d2c1d;
  --element: #f3b530;
}

body[data-element="hydro"] {
  --bg: #15315c;
  --element: #02c0ff;
}

body[data-element="pyro"] {
  --bg: #3d1818;
  --element: #ff6640;
}
